<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{emprendimientos[0].nombre}}</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
</head>

<body>
    {% if session['documento']%}
    <div class="logueado">
        <nav>
            <a href="{{url_for('index')}}">Inicio</a>
            <a href="{{url_for('crear_emprendedor')}}">Registrar emprendedor</a>
            <a href="{{url_for('actualizar_emprendimiento',id=emprendimientos[0].id_emprendimiento)}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                </svg>
            </a>
        </nav>
        <div>
            <p> usuario : <span> {{session['user']}}</span> </p>
            <a href="{{ url_for('logout') }}" class="boton">Cerrar sesión</a>
        </div>

    </div>
    {%endif%}

    <header class="header">

        <div>
            <h1 class="header__titulo">{{emprendimientos[0].nombre}}</h1>
            <p class="header__eslogan">{{emprendimientos[0].slogan.capitalize()}}</p>
        </div>
        <div class="icono_editar">
            <a href="{{url_for('actualizar_foto_producto',id=emprendimientos[0].id_emprendimiento)}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                </svg>
            </a>
        </div>
        <div class="header_producto">
            <img src="{{url_for('static', filename = 'uploads/' + emprendimientos[0].foto_producto)}}"
                alt="foto de producto">
        </div>
        <div>
            <a href="#carrito" class="header__boton">¡Compra ahora!</a>

        </div>



    </header>


    <section class="informacion">
        <h2 class="informacion__titulo">Más sobre nuestro producto</h2>
        <p class="informacion__descripcion">{{emprendimientos[0].descripcion}}</p>

        <div class="informacion__detalles">
            <div class="informacion__detalle">
                <h3 class="informacion__detalle-titulo">Misión</h3>
                <p class="informacion__detalle-texto">{{emprendimientos[0].mision}}</p>
            </div>
            <div class="informacion__detalle">
                <h3 class="informacion__detalle-titulo">Visión</h3>
                <p class="informacion__detalle-texto">{{emprendimientos[0].vision}}</p>
            </div>
            <div class="informacion__detalle">
                <h3 class="informacion__detalle-titulo">Objetivos</h3>
                <p class="informacion__detalle-texto">{{emprendimientos[0].objetivos}}</p>
            </div>
        </div>
    </section>


    <section class="participantes">
        <h2 class="participantes__titulo">Emprendedores</h2>

        <div class="participantes__lista">
            {%for emprendedor in emprendedores %}
            <div class="participantes__tarjeta">
                <div class="icon_editar">
                    <a href="{{url_for('actualizar_foto_emprendedor',id=emprendedor.id)}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path
                                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                        </svg>
                    </a>
                </div>

                <div class="participante_tarjeta-img">
                    <img src="{{url_for('static', filename = 'uploads/' + emprendedor['foto'])}}" alt=" foto perfil"
                        class="participantes__imagen">
                </div>
                <div class="participante_tarjeta-datos">
                    <p class="participantes__nombre">{{emprendedor.nombre}}</p>
                    <p class="participantes__rol">{{emprendedor.cargo}}</p>
                </div>

            </div>
            {%endfor%}
        </div>

    </section>

    <div class="fondo__carrito">
        <section id="carrito" class="carrito">
            <div>
                <h2 class="carrito__titulo">¡Gracias por apoyar nuestros sueños!</h2>
                <p class="carrito__mensaje">
                    Tu compra no solo lleva un producto a casa, también impulsa el esfuerzo, la creatividad y los sueños
                    de
                    jóvenes emprendedores.
                    ¡Cada pedido cuenta y nos motiva a seguir creciendo!
                </p>
            </div>
            <div>
                <form id="formularioCarrito" class="carrito__formulario" data-contacto="{{emprendimientos[0].contacto}}"
                    data-empresa="{{emprendimientos[0].nombre}}">
                    <label for="cantidad" class="carrito__label">Cantidad:</label>
                    <input type="number" id="cantidad" name="cantidad" class="carrito__input" min="1" required>
                    <button type="submit" class="carrito__boton">Enviar Pedido</button>
                </form>
            </div>
        </section>
    </div>



    <footer class="footer">
        <p class="footer__texto">Todos los derechos reservados - {{emprendimientos[0].nombre}} &copy; 2025</p>
        <p class="footer__texto">Diseñado por Tec Programacion de software JER</p>
        <p class="footer__texto">Instructor Israel Acevedo</p>
    </footer>

    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html>