<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="login">
    <div class="contenedor-login">
        <h2 class="titulo">Iniciar sesión</h2>

        <!-- Mensaje flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="flash {{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form class="formulario" method="POST">
            <div class="campo">
                <label for="documento" class="etiqueta">Documento</label>
                <input type="text" id="documento" class="entrada" name="documento" placeholder="Número de documento"
                    required>
            </div>
            <div class="campo">
                <label for="password" class="etiqueta">Contraseña</label>
                <input type="password" id="password" class="entrada" name="password" placeholder="Contraseña" required>
            </div>
            <button type="submit" class="boton">Iniciar sesión</button>
        </form>
    </div>
</body>

</html>